p{
  margin: 0;
}
.blog-title{
 

    font-family: 'Bernier';
    font-size: 63px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.block-title__info{
  color: #fff;
  font-size: 16px;
}
.blog{
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: wrap column;
  background-color: #fff

}

.block-nav{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  .navigation{
    padding-top: 30px;
    width: 288px;
    height: 255px;

    .nav__list{
      padding-bottom: 36px;
      width: 262px;
      height: 47px;

      &:hover::after{
        display: block;
        content:"";
        width: 3px;
        height: 42px;
        color: #1bb696;
      }

    }
    .nav__link{
      text-decoration: none;
      
      

      .nav__link-desc{
        color: #51656e;
      }
    }
  }
}

.blog-content{
  height: 100%;
  width: 70%;



  .article-content{
    width: 885px;

  }
}

.block-subtitle{
  font-family: 'Bernier';
  font-size: 32px;
  color: #51656e;
}

.article-data__desc{
  color: #1bb696;
  padding: 28px 0px 28px 0px;
}

hr{
  width: 684px;
  margin: 70px 0px 70px 0px;
}