.hero{
    background: url('../images/bckg-index.png') center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    
    .hero__user{
        text-align: center;
    }
    .hero-triangle__left{
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent #efeee9;
        left: 0;
        border-width: 0 50vw 17vh 0
    }
    .hero-triangle__right{
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent #eeebdf;
        right: 0;
        border-width: 0 0 17vh 50vw
    }
    .arrow-down.hero__scroll-button{
        position: absolute;
        fill: white;
        left: 940px;
        bottom: 3%
    }
}


.user-description__avatar{
    background-image: url('../../assets/images/photo2.png');
    background-size: cover;
    background-position: top;
}
.socials{
    position: absolute;
    left: 5%;
    //top: 10px;
    
    display: flex;
    fill: white;
   // fill-opacity: 0.5;
  
    .soclals__item{
        fill-opacity: 0.5;
        padding-right: 18px;
        &:hover{
            fill-opacity: 1; 
        }
    }

}

.hero__title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .section-title__img{
        position: absolute;
        width: 90%;
        left: 7%;
        top: 22%;
    }
}

.user__avatar{
    width: 200px;
    height: 200px;
    border-radius: 100px;
  

}

.user__description{
    text-align: center;
    color: white;

    .user__name{
        padding-top: 30px;
        font-size: 35px;
    
    }

    .user__desc{
        padding-top: 9px;
        font-size: 16px;
    }
}

.hamburgers{

    color: white;
    position: absolute;
    font-family: sans-serif;
    font-size: 40px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px auto;
    line-height: 1;
    cursor: pointer;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: -13px;
}

.about{
    display: flex;
    min-height: 100%;
   

    .about__left{
   
        
        width: 50%;
        position: relative;
        background-color: #efeee9;

        .about__title-bckg{
            position: absolute;
            top: -36%;
            right: -42%;
        }
        
        .about__left-title{
            position: absolute;
            left: 20%;
            font-size: 63px;
            top: -2%;

            

            
        }

        .about__left-description{
            width: 455px;
            position: absolute;
            right: 21px;
            top: 22px;

            .block-subtitle{
                font-family: 'Bernier';
                text-align: center;
                font-size: 35px;
                color: #455a64;
                padding-top: 35px;
                padding-bottom: 35px;

            }
        }

        .block-title{
            text-align: center;
            font-family: 'Bernier';
            font-size: 63px;
            color: #373e42;
            text-transform: uppercase;
        }
    }

.user-description__avatar{
    width: 442px;
    height: 390px;
}



    .about__right{
 
        width: 50%;
        background-color: #eeebdf;
        padding-left: 10px;

        .skills-row{
            padding-left: 40px;
        }
        .skills-row__title{
            padding-left: 2px;
            padding-bottom: 19px;
            color: #373e42;
            font-weight: bold;


        }
        .block-subtitle{
                font-family: 'Bernier';
                text-align: center;
                font-size: 35px;
                color: #455a64;
                padding-top: 35px;
                padding-bottom: 35px;

                &::after{
                    content: '\2014';
                    width: 21px;
                    // padding-bottom: 10px;
                    opacity: 0.4;
                }
        }
    }
}

.circles {
    fill: none;
    stroke-width: 15;
  }
  .circle__first {
    stroke: #dfdcd5;
  }
  .circle__second {
    stroke: #1bb696;
    stroke-dasharray: .0010 282.6;
    transition: all 1s;
  }
  
  .item {
    display: inline-block;
    border: 1px solid #ccc;
    width: 170px;
    height: 170px;
  }
  
  .circles:hover .circle-0 {
     stroke-dasharray: .001 282.6;
  }
  .circles:hover .circle-10 {
     stroke-dasharray: 28.26 282.6;
  }
  .circles:hover .circle-15 {
     stroke-dasharray: 30.30 282.6;
  }


.skills-row__list{
    display: flex;
}

.skill{
    width: 123px;
    height: 123px;
    position: relative;

    .skill__title{
        position: absolute;
        top: 41%;
        left: 33%;
    }
}

.skills-list__item{
    padding-top: 43px;
}

.map{
    position: relative;
}
#map{
    width: 100%;
    height: 400px;
    background-color: grey;
}

// .map__data{
//     width: 385px;
//     height: 290px;
//     position: absolute;
//     top: 42%;
//     left: 42%;
//     background-color: #fff;
//     border: solid #fff;
//     border-radius: 5px;
  
    
//     .contacts{
        
//         display:flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         width: 307px;
//         height: 232px;
        
        
//         .block-subtitle{
//             font-size: 35px;
//         }
        
//         .contacts__item.contacts-row{
//             display: flex;

//             .contacts-row__icon{
//                 padding-right: 10px;
//             }
//         }
//     }
// }

.footer{
    position: absolute;

    height: 148px;
    width: 100%;
    background: rgba(83, 89, 93, 0.6) ;
    
    .footer__row{
        display: flex;
        height: 73px;
        position: relative;

        .footer__col--left{
            display: flex;
            align-items: center
        }

        .footer__col{
            width: 50%;
           

            .menu__item{
                padding-left: 38px;
            }
            .menu__link{
                text-decoration: none;
                color: white;
                font-weight: bold;
                &:hover{
                    color: #1bb696;
                }
            }
        }
        
        .footer-soc{
            display: flex;
            justify-content: flex-end;
            fill: rgba(83, 89, 93, 0.6);
            padding-right: 20px;
            padding-top: 10px;

            .footer__item{
                padding-left: 20px;
                &:hover{
                    fill: rgba(252, 252, 252, 1);
                }
            }
        }
        .footer__col.footer__down--left{
            padding-left: 38px;
            .footer__desc{
                width: 540px;
            }
        }
        .footer__down--right{
            display: flex;
            justify-content: flex-end;
            padding-right: 20px;
        }
    }

}
